$styles: (
  card: (
    padding: 25,
    vertical-padding: 10,
    top-padding: 6,
    margin: 10,
    border-style: solid,
    border-color: blue,
    border-width: 5,
  ),

  error-card: (
    extend: card,
    border-color: red,
    corner-radius: 10,
    top-corner-radius: 20,
    bottom-right-corner-radius: 40,
  ),

  warning-card: (
    extend: card,
    border-color: orange,
    vertical-padding: 15,
  ),

  list: (
    vertical-padding: 20,
    horizontal-padding: 10,
  ),

  inner: (
    background-color: rgba(blue, 0.2),
  ),
);
