$serif-fallback-fonts: "Baskerville", "Times new roman", sans-serif;
$sans-serif-fallback-fonts: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$families: (
  body: ("Open Sans", $sans-serif-fallback-fonts),
  quote: ("Bitter", $serif-fallback-fonts),
  heading: ("Lobster", $sans-serif-fallback-fonts),
);

$sizes: (
  body: 1,
  quote: 1,
  heading: 1.1,
);

$weights: (
  body: (
    light: 100,
    regular: 300,
    bold: 600,
  ),

  quote: (
    light: 200,
    regular: 400,
    bold: 500,
  ),

  heading: (
    light: 100,
    regular: 400,
    bold: 700,
  ),
);

$styles: (
  body: (
    family: body,
    weight: regular,
    line-height: 1.4,
    size: 18,
  ),

  body-bold: (
    extend: body,
    weight: bold,
  ),

  italic: (
    extend: body,
    family: heading,
    style: italic,
  ),

  quote: (
    family: quote,
    weight: regular,
    size: 20,
  ),
);
